@using FleetManager.Business.ViewModels;
@{

	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
	<title>FleetGuard - Manage and keep track of your fleet of vehicles</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="~/assets/css/feather.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

</head>
<body>

	@* Success Message *@
	@if (TempData["SuccessMessage"] != null)
	{
		<div id="alert-success" class="alert alert-success alert-dismissible fade show d-flex align-items-center mt-3" role="alert">
			<i class="fas fa-check-circle me-2"></i>
			<div>@TempData["SuccessMessage"]</div>
			<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	@* Error Message *@
	@if (TempData["ErrorMessage"] != null)
	{
		<div id="alert-error" class="alert alert-danger alert-dismissible fade show d-flex align-items-center mt-3" role="alert">
			<i class="fas fa-times-circle me-2"></i>
			<div>@TempData["ErrorMessage"]</div>
			<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	@* Warning Message *@
	@if (TempData["WarningMessage"] != null)
	{
		<div id="alert-warning" class="alert alert-warning alert-dismissible fade show d-flex align-items-center mt-3" role="alert">
			<i class="fas fa-exclamation-triangle me-2"></i>
			<div>@TempData["WarningMessage"]</div>
			<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	@* Info Message *@
	@if (TempData["InfoMessage"] != null)
	{
		<div id="alert-info" class="alert alert-info alert-dismissible fade show d-flex align-items-center mt-3" role="alert">
			<i class="fas fa-info-circle me-2"></i>
			<div>@TempData["InfoMessage"]</div>
			<button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}


	<!-- Main Wrapper -->
	<div class="main-wrapper login-body">
		<div class="container-fluid px-0">
			<div class="row">

				<!-- Login logo -->
				<div class="col-lg-6 login-wrap">
					<div class="login-sec">
						<div class="log-img">
							<img class="img-fluid" src="~/assets/img/login-02.png" alt="Logo">
						</div>
					</div>
				</div>
				<!-- /Login logo -->
				<!-- Login Content -->
				<div class="col-lg-6 login-wrap-bg">
					<div class="login-wrapper">
						<div class="loginbox">
							@RenderBody()
						</div>

					</div>
				</div>
				<!-- /Login Content -->

			</div>
		</div>
	</div>

	@section Scripts {
		@await Html.PartialAsync("_ValidationScriptsPartial")
	}

	<!-- jQuery -->
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/jquery.validate.unobtrusive.min.js"></script>

	<script src="~/assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Js -->
	<script src="~/assets/js/feather.min.js"></script>

	<!-- Custom JS -->
	<script src="~/assets/js/app.js"></script>
	@await RenderSectionAsync("Scripts", required: false)



	<script>
		window.addEventListener('DOMContentLoaded', () => {
			['success', 'error', 'warning', 'info'].forEach(type => {
				const alertBox = document.getElementById(`alert-${type}`);
				if (alertBox) {
					setTimeout(() => {
						const bsAlert = bootstrap.Alert.getOrCreateInstance(alertBox);
						bsAlert.close();
					}, 5000);
				}
			});
		});
	</script>
</body>
</html>